.footer {
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: center;
    margin-top: 100px;

  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5rem;
  }
  
  .footer-team {
    margin-left: 0.5rem;
  }
  
  .footer-team p {
    margin: 0;
  }
  
  .footer-team table {
    border-collapse: collapse;
  }
  
  .footer-team td {
    padding: 0.5rem;
    /* border: 1px solid #ccc; */
  }

  .footer-logo-name {
    display: flex;
    align-items: center;
  }
  
  .form-container {
    margin-bottom: 100px; /* Adjust the value as needed */
  }